
<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="description" content="">
		<meta name="keywords" content="">
		<title>Statictics of your applications...</title>

		<link rel="stylesheet" href="/res/css/bootstrap.min.css">
		<link rel="stylesheet" href="/res/css/style.css">
		<link rel="stylesheet" href="/res/js/slick/slick.css">

		<script src="/res/js/jquery.js"></script>
		<script src="/res/js/bootstrap.min.js"></script>

		<link rel="stylesheet" href="/res/js/sweetalert/sweet-alert.css">
		<script src="/res/js/sweetalert/sweet-alert.min.js"></script>
		<script>
		jQuery(document).ready(function() {
			var menu = jQuery("#navbar-main");

			jQuery(window).scroll(function(event) {
				if (jQuery(this).scrollTop() > 60 && menu.hasClass('default')) {
					menu.removeClass('default').addClass('fixed');
				} else if (jQuery(this).scrollTop() <= 60 && menu.hasClass('fixed')) {
					menu.removeClass('fixed').addClass('default');
				}
			});
		});
		</script>
	</head>
<body>
	<div class="row">
		<div class="container" id="header">
			<div class="col-sm-3">
				<div class="row">
					<div class="col-sm-12">
						<a href="index.php" class="home-link pull-left">
							<img src="/res/images/logo.png" id="logo" alt="" />
						</a>
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-main">
								<span class="sr-only">Menu</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-9">
				<div class="row">
					<div class="col-sm-12">
						<div class="row">
							<div class="col-sm-12">
								<p class="pull-right">
									Hello, <strong>y_shatrov</strong>!
									(<a href="logout.htm">logout</a>|<a href="closeall.htm">close all session</a>)
								</p>
							</div>
						</div>
					</div>
					<div class="col-sm-12">
						<div class="row">
							<div class="col-sm-8">
								<div class="collapse navbar-collapse default" id="navbar-main">
									<ul class="nav navbar-nav">
										<li><a href="/">Home</a></li>
										<li><a href="" class="dropdown-toggle" data-toggle="dropdown">Account <span class="caret"></span></a>
											<ul class="dropdown-menu">
												<li><a href="/account.htm">Account</a></li>
												<li><a href="/appinfo.htm">Applications</a></li>
											</ul>
										</li>
										<li><a href="" class="dropdown-toggle" data-toggle="dropdown">Developers <span class="caret"></span></a>
											<ul class="dropdown-menu">
												<li><a href="/desc.htm">Description</a></li>
												<li><a href="/appstat.htm">Statistics</a></li>
											</ul>
										</li>
										<li><a href="" class="dropdown-toggle" data-toggle="dropdown">Feedback <span class="caret"></span></a>
											<ul class="dropdown-menu">
												<li><a href="/feedback.htm">Feedback</a></li>
												<li><a href="/contacts.htm">Contacts</a></li>
												<li><a href="/vacancy.htm">Vacancy</a></li>
											</ul>
										</li>
										<!--<li><a href="">Forum</a></li> -->
									</ul>
								</div>
							</div>
						<!--	<div class="col-sm-4">
								<div class="form">
									<form action="phprusearch/" class="form-search">
										<input type="search" class="form-control" placeholder="Search...">
									</form>
								</div>
							</div> -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row content" id="main-part">
			<div class="container">
	<h2>Statistics of applications</h2>


            <!-- COPY start -->
            <section class="col-md-3">
                <form name="chart">

<!-- Modal -->
<div class="modal fade" id="chartSelectionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Закрыть</span></button>
        <h4 class="modal-title" id="chartSelectionModal__label">Добавить параметр</h4>
      </div>
      <div class="modal-body">
            <select name="param_names"></select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
        <button type="button" class="btn btn-primary">OK</button>
      </div>
    </div>
  </div>
</div>
<!-- END Modal -->

                    <div class="row">
                        <div class="col-md-4">
                            <label for="chart__app_id">Приложение:</label>
                            <select name="app_id" id="chart__app_id">
                                <!-- Список приложений:
                                    <option value="{ appId }">{ app name }</option>
                                 -->
                                <option value="0">App 0</option>
                                <option value="1">App 1</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            Период:
                            <input type="radio" name="period" value="600" id="chart__period_600">
                            <label for="chart__period_600">10 мин</label>
                            <br>
                            <input type="radio" name="period" value="3600" id="chart__period_3600">
                            <label for="chart__period_3600">1 час</label>
                            <br>
                            <input type="radio" name="period" value="86400" id="chart__period_86400">
                            <label for="chart__period_86400">1 сутки</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <b>Параметры левой оси:</b>
                            <div class="_selected_params" data-target="left">
                                <div class="hidden _template">
                                    <span>Тестовый параметр</span> <a href="#">&times;</a>
                                </div>
                            </div>
                            <button data-target="left" type="button">Добавить</button>
                        </div>
                        <div class="col-md-4">
                            <b>Параметры правой оси:</b>
                            <div class="_selected_params" data-target="right">
                                <div class="hidden _template">
                                    <span>Тестовый параметр</span> <a href="#">&times;</a>
                                </div>
                            </div>
                            <button data-target="right" type="button">Добавить</button>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div data-chart="yes" id="chart" style="width: 500px; height: 300px">
                    </div>
                </div>
            </section>
            <!-- COPY end -->

	    </div>
	</div>
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-4 social">
					<h3>Social networks</h3>
					<a href="http://twitter.com/" class="social-icon twitter"></a>
					<a href="http://facebook.com/" class="social-icon facebook"></a>
					<a href="http://plus.google.com/" class="social-icon google-plus"></a>
					<a href="http://vimeo.com/" class="social-icon-small vimeo"></a>
					<a href="http://youtube.com/" class="social-icon-small youtube"></a>
					<a href="http://flickr.com/" class="social-icon-small flickr"></a>
					<a href="http://instagram.com/" class="social-icon-small instagram"></a>
					<a href="/rss/" class="social-icon-small rss"></a>
				</div>
				<div class="col-md-8 footer-logo">
					<a href="/"><img src="" alt="Whitesquare logo"></a>
					<p>
						Copyright © 2012 Whitesquare. A <a href="http://pcklab.com">pcklab</a> creation
					</p>
				</div>
			</div>
		</div>
	</footer>

</body>
</html>